 <%- include ('header.ejs') %>


  <%- include ('nav.ejs') %>
  
  



 <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      
      <div class="row">
        
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Add new Category</h5>
              
            </div>
            <div class="card-body">
              <form  action="/admin/newCategory" method="post" enctype="multipart/form-data" >
               
                <div class="mb-3">
                  <label class="form-label" for="basic-icon-default-company">Category Name</label>
                  <div class="input-group input-group-merge">
                    
                    <input
                      type="text"
                      id="basic-icon-default-company"
                      name="categoryName"
                      class="form-control"
                      placeholder="name"
                      aria-label="ACME Inc."
                      aria-describedby="basic-icon-default-company2"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="basic-icon-default-email">Description</label>
                  <div class="input-group input-group-merge">
                    
                    <input
                      type="text"
                      id="basic-icon-default-email"
                      name="description"
                      class="form-control"
                      placeholder="about product"
                      
                      aria-describedby="basic-icon-default-email2"
                    />
                   
                  </div>
                  
                </div>
               
                <div class="mb-3">
                  <label class="form-label" for="basic-icon-default-message" >image</label>
                  <div class="input-group input-group-merge">
                    <input type="file" class="form-control" name="image" id="fileToUpload">
                    
                    
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Add</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ('footer.ejs') %>