<html lang="en">

<head>
  <title style="color: brown">LOGIN/SIGN UP</title>
  <meta name="author" content="Zaur">
  <meta descryption content="Presentation of website">
  <meta name="keywords" content="technology, cyber security, software">
  <meta http-equiv="refresh" content="100">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/adminLogin/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <h1>Arctic admin login</h1>
  </header>
  <main>
    <form id="login_form" class="form_class" action="/admin/adminLogin" method="post">
      <div class="form_div">
        <label>Email:</label>
        <input class="field_class" name="email" type="email" placeholder="enter email address" autofocus>
        <label>Password:</label>
        <input id="pass" class="field_class" name="password" type="password" placeholder="Enter Password">
        <button class="submit_class" type="submit" form="login_form">Login</button>
      </div>

    </form>
  </main>
  <footer>
    <p>Designed by Ribinsh</p>
  </footer>
  <script src="./js/adminLogin.js"></script>
</body>

</body>

</html>