 <!-- build:js assets/vendor/js/core.js -->
 <script src="/public/adminAssets/vendor/libs/jquery/jquery.js"></script>
 <script src="/public/adminAssets/vendor/libs/popper/popper.js"></script>
 <script src="/public/adminAssets/vendor/js/bootstrap.js"></script>
 <script src="/public/adminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

 <script src="/public/adminAssets/vendor/js/menu.js"></script>
 <!-- endbuild -->

 <!-- Vendors JS -->
 <script src="/public/adminAssets/vendor/libs/apex-charts/apexcharts.js"></script>

 <!-- Main JS -->
 <script src="/public/adminAssets/js/main.js"></script>

 <!-- Page JS -->
 <script src="/public/adminAssets/js/dashboards-analytics.js"></script>

 <!-- Place this tag in your head or just before your close body tag. -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
