.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }
    
    .card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa ;
    }
    
    
    .input-custom {
    background-color: white ;
    }
    
    .white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100 ;
    font-size: 14px;
    }
    
    .back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black ;
    margin-top: 50px ;
    }