<!-- <nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">


            <div class="col-md-3 col-xs-2">
                
                <div id="fh5co-logo"><img style="height:70px ; width: 70px;" src="/images/logo.png" alt="">
                    <ahref="/">Arctic</a></div>
            </div>
            <div class="navs col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li class="has-dropdown">
                        <a href="/products">Shop</a>
                       
                    </li>
                    <li><a href="/about">About</a></li>
                   
                    <li><a href="/contact">Contact</a></li>
                    <li class="shopping-cart">
                        <a href="/cart" class="car">
                            <span>
                                <i class="bi bi-bag-heart-fill"></i>
                            </span>
                        </a>
                    </li>
                    <li class="wishlist">
                        <a href="/wishlist" class="wish-list">
                            <span>
                                <i class="bi bi-heart-fill"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="navs col-md-3 col-xs-4 text-right hidden-xs menu-2">
                <ul>
                    <li class="search">
                        <div class="input-group">
                            <input type="text" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="bi bi-search"></i>
                            </span>
                        </div>
                    </li>
                    <li class="shopping-cart has-dropdown">
                        <a href="#" class="cart">
                            <span>
                                <i class="bi bi-person-square"></i>
                            </span>
                        </a>
                        <ul class="dropdown">
                            <li><a href="/login" style="color:green ;">Login</a></li>
                            <li><a href="/login">Signup</a></li>
                            <li><a href="/login/logout" style="color:red ;">Logout</a></li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>

    </div>

</nav> -->





<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">


            <div class="col-md-3 col-xs-2">
                <!-- <div style="width: 100px;">
                <img style="height:100px ; width: 100px;" src="/logo/bear.webp" alt="">
             </div> -->
                <div id="fh5co-logo"><a href="/"><img style="height:70px ;" src="/Images\nav-logo.jpeg" alt=""></a></div>
            </div>
            <div class="navs col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li class="has-dropdown">
                        <a href="/products">Shop</a>
                        <!-- <ul class="dropdown">
                        <li><a href="single.html">Single Shop</a></li>
                    </ul> -->
                    </li>
                    <li><a href="/about">About</a></li>
                    <li class="has-dropdown">
                        <a href="">Categories</a>
                        <ul class="dropdown">
                            <% category.forEach(function(x){ %>
                                <li><a href="./products/#<%= x.categoryName %>">
                                        <%= x.categoryName %>
                                    </a></li>

                                <% }) %>
                                    <li><a href="#" style="color: cadetblue;"> Art Supplies</a></li>

                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="shopping-cart">
                        <a href="/cart" class="car">
                            <span>
                                <i class="bi bi-bag-fill"></i>
                            </span>
                        </a>
                    </li>
                    <li class="wish">
                        <a href="/wishlist" class="wish-list">
                            <span>
                                <i class="bi bi-heart-fill"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="navs col-md-3 col-xs-4 text-right hidden-xs menu-2">
                <ul>
                    <li class="search">
                        <div class="input-group">
                            <input type="text" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i
                                        class="icon-search"></i></button>
                            </span>
                        </div>
                    </li>
                    <li class="shopping-cart has-dropdown">
                        <a href="#" class="cart">
                            <span>
                                <i class="bi bi-person-square"></i>
                            </span>
                        </a>
                        <ul class="dropdown">
                            <% if(login){ %>
                                <li><a href="/profilePage" style="color:green ;">Profile</a></li>
                                <li><a href="/login/logout" style="color:red ;">Logout</a></li>
                                <% }else{ %>
                                    <li><a href="/login" style="color:green ;">Login</a></li>
                                    <li><a href="/login">Signup</a></li>
                                    <% } %>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>

    </div>

</nav>