
<html lang="en">
    <head >
        <title style="color: brown">Arctic</title>
        <meta name="author" content="Zaur">
        <meta descryption content="Presentation of website">
        <meta name="keywords" content="technology, cyber security, software">
        <meta http-equiv="refresh" content="100">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/home/animate.css">
    
    
        <link rel="stylesheet" href="/public/stylesheets/home/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> 
     
     <script src="/js/home/modernizr-2.6.2.min.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
     </head> 
    <body> 
<%- include ('nav.ejs') %>



<div style="height: 100vh;">
    <div class="mt-lg-5 d-flex justify-content-center align-items-center">
         <img src="/public\images\Success.gif" alt="">
    </div>
    <div class="text-center">
    <h3 class="mb-5"><strong>Order placed successfully 🤩</strong></h3>
        <a href="/products" class="stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 p-tb-10"><button class="btn btn-success"> Continue Shopping</button</a>
    </div>
</div>
<%- include ('userFooter') %>