<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arctic the complete art store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/stylesheets/home/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/stylesheets/home/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/stylesheets/home/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/stylesheets/home/flexslider.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/stylesheets/home/owl.carousel.min.css">
	<link rel="stylesheet" href="/stylesheets/home/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/stylesheets/home/style.css">
	<link rel="stylesheet" href="../../public/stylesheets/home/address.css">

	<!-- Modernizr JS -->
	<script src="/js/home/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	 <![endif]-->
	<!-- <link rel="stylesheet" href="/public/stylesheets/cart.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> --> 

    <!-- bootstrap icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


	</head>
	<body>