/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Reem+Kufi+Fun:wght@500&family=Reem+Kufi:wght@400;500&display=swap'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Reem Kufi Fun', sans-serif; */
    font-family: 'Jost', sans-serif;
    
}

.section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282c34;
}

.login{
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 8px;
  /* background: green; */
}

.img{
  width: 50px;
  height: 50px;
  cursor:pointer;
}
.img:hover{
  color: rgb(0, 0,255);
}

.login h1{
  font-size: 36px;
  margin-bottom: 25px;
}

.login form{
  font-size: 20px;

}

.login form .form-group{
  margin-bottom: 12px;
}

.login form input[type="submit"]{
  font-size: 20px;
  margin-top: 15px;
}
