/* ======================================================================== */ 

 /*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

*{
  
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
  
  }
  
  
  *,
  *::before,
  *::after {
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
  }
  
  
  :root {
    --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
    --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
    --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
    --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
    --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
    --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
    --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
    --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
    
    /* Font style */
    
    --ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
    /* Color style */
    
    /*
    --color-primary:#c51350;
    --color-secondary:#ff9a3c;
    --color-body:#333;
    --color-bg: #006600;
    --color-primary-dark:#007f67;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --color-link:#cdcdcc;
    --color-border:darkgrey;
    --bs:#ffa857;
    */
    
    --color-primary: #0092ca;
    --color-secondary: #6dd5ed;
    --color-primary-dark:#192294;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --color-link:#606470;
    --color-link-dark:#3c4245;
    --color-background:#f5f9ee;
    --color-border-sc:#ececec;
    --color-border-focus:#a9d7f6;
    --color-border:#eeeeee;
    --bs:#ffa857;
    --color-dark-grey:#a4a3a3;
    --gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
    
    
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height:  100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-primary);
  }
  
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
   text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  
  
  /* ======================================================================== */ 
  
   /*                      RELATED TO THE TTUTORIAL                        */
  
  /* ======================================================================== */
  body, html {
    height:100%;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    */
    background-color: #d8d7d7;
    column-gap: 3rem;
  }
  
  .form{
    position: absolute;
    width: 100%;
    max-width: 480px;
    background: #fff;
    border-radius: 1rem;
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 3em 2.2em;
    transition: all .3s ease-in-out;
  }
  
  .form.sign-up {
    opacity: 0;
    pointer-events: none;
  }
  
  .forms.show-signup .form.sign-up {
    opacity: 1;
    pointer-events: auto;
  }
  
  .forms.show-signup .form.sign-in {
    opacity: 0;
    pointer-events: none;
  }
  
  .header {
    color: var(--color-primary-dark);
    font-size: var(--step-1);
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
  }
  
  
  /* -----------------The start of Social media Design* ----------------- */
  
  .social__media__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1.1rem;
  }
  
  a.social {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--color-border-sc);
    box-shadow: 1px 0 10px rgba(0,0,0,.2);
  }
  
  a.social i {
    line-height: 2.5rem;
  }
  
  /* -----------------The end of Social media Design* ----------------- */
  
  
  
  span.under__social {
    display: grid;
    place-items: center;
    letter-spacing: 1px;
    margin-top: 1.7rem;
  }
  
  
  .button-input-group {
    display: grid;
    place-items: center;
    margin-top: .6rem;
  }
  
  .group {
    width: 90%;
    height: 47px;
    margin-bottom: 1.3rem;
  }
  
  .group input,
  .group button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: .4rem;
  }
  
  .group.button-group {
    width: 60%;
  }
  
  .group input {
    border: 2px solid var(--color-border);
    padding: 0 1.1rem;
  }
  
  .group input::placeholder {
    opacity: .9;
  }
  
  .form-link {
    margin: 1.6rem 0 1.8rem 0;
  }
  
  .alert-text.signup__alert {
    margin-bottom: 2.2rem;
  }
  
  .alert-text .help__text {
    position: absolute;
    left: 4rem;
    font-size: var(--step--2);
    margin-top: -1rem;
    opacity: .7;
  }
  
  a.link,
  a.login-link,
  .alert-text .help__text {
    color: var(--color-link);
  }
  
  a.link:hover,
  a.login-link:hover {
    color: var(--color-link-dark);
    text-decoration: underline;
    transition: all .4s ease;
  }
  
  
  
  /* -----------------The start of Validation* ----------------- */
  
  .form input:focus,
  .forum input:not(:placeholder-shown) {
    background-color: var(--color-background);
    border-color: var(--color-border-focus);
  }
  
  .form input:focus,
  .forum input:placeholder-shown {
    box-shadow: 0 0 0 2px var(--color-border-focus);
  }
  
  .form input:focus:valid {
    box-shadow: 0 0 0 2px var(--color-success);
  }
  
  .form input:valid:not(:placeholder-shown) {
    border-color: var(--color-success);
  }
  
  .form input:focus:invalid {
    box-shadow: 0 0 0 2px var(--color-error);
  }
  
  .form input:invalid:not(:placeholder-shown) {
    border-color: var(--color-error);
  }
  
  /* -----------------The end of Validation* ----------------- */
  
  
  
  /* -----------------The start of Button Design* ----------------- */
  
  
  .group button {
    position: relative;
    background: transparent;
    cursor: pointer;
  }
  
  .group button span {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: var(--color-primary);
    letter-spacing: 1px;
    background: transparent;
    border-radius: .6rem;
    z-index: 99;
  }
  
  .group button:hover span {
    background-color: var(--color-primary);
    color: #fff;
    transform: scale(1.1);
    transition: all .2s ease;
    transition-delay: .3s;
    
  }
  
  .group button::before {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    top: 1px;
    left: 1px;
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-top-left-radius: .6rem;
    transition: all .3s ease;
    transition-delay: 0s;
  }
  
  .group button::after {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    bottom: 1px;
    right: 1px;
    border-bottom: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    border-bottom-right-radius: .6rem;
    transition: all .3s ease;
    transition-delay: 0s;
  }
  
  .group button:hover {
    box-shadow: 0 0 1.6rem var(--color-primary);
    transform: scale(1.1);
    transition: all .2s ease;
    transition-delay: .3s;
  }
  
  .group button:hover::before,
  .group button:hover::after {
    width: 99%;
    height: 96%;
    border-radius: .6rem;
  }
  
  
  /* -----------------The end of Button Design* ----------------- */
  
  
  footer {
      position: absolute;
      left: 50%;
      top: 50%;
    word-spacing: 1px;
      transform: translate(-50%, 19em);
  }
  
  footer p {
    font-size: var(--step--1);
    color: #fff;
  }
    
  footer p a {
    letter-spacing: 1px;
    color: #f7aa00;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }